#define fg #bedddc
#define bg #171518
#define trans 20
#define argb_bg argb:CC0d1926

*border_active: #bedddc
*border_edge: #ccbf92

!   URxvt

URxvt.perl-ext-common: default,clipboard,config-reload
URxvt.font: xft:Source Code Pro:size=10
URxvt.foreground: fg
URxvt.background: bg
! URxvt.transparent: true
URxvt.shading: trans
URxvt*scrollBar: false

!   ROFI
rofi.color-enabled: true
rofi.color-window: argb_bg, argb:0000000, argb:0000000
rofi.color-normal: argb:00000000, fg, argb:00000000, fg, bg
rofi.color-active: argb:00000000, #0ea1f0, bg, #0ea1f0, bg
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3

!   Colors I guess

! black
*.color0:       #1d1b18
*.color8:       #48433e

! red
*.color1:       #fbae9f
*.color9:       #fa4c39

! green
*.color2:       #bfc267
*.color10:      #c2c219

! yellow
*.color3:       #ddb26f
*.color11:      #de9116

! blue
*.color4:       #a8dbf0
*.color12:      #60e6f0

! magenta
*.color5:       #cca3ee
*.color13:      #c55fed

! cyan
*.color6:       #51cfaf
*.color14:      #00cf8e

! white
*.color7:       #aba289
*.color15:      #ffeabf
